body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    backdrop-filter: blur(5px);
    color: white;
}

/* Dark overlay */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    z-index: -1;
}

main {
    min-height: calc(100vh - 120px);
}


/* HERO SECTION */
.hero-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-title h1 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0 0 10px #9b9bff;
    margin-bottom: 10px;
}

.hero-title p {
    font-size: 18px;
    color: #cfcfcf;
    margin-top: 0;
    text-shadow: 0 0 6px #000;
}

/* ABOUT COUNTRY */
.about-country {
    width: 70%;
    text-align: center;
    margin: auto;
    background: rgba(155, 155, 255, 0.15);
    border-radius: 20px;
    padding: 10px 25px 25px;
    border: 1px solid rgba(251, 236, 166, 0.579);
    backdrop-filter: blur(10px);
}

.about-country p {
    font-size: 20px;
}

.about-country h2 {
    font-size: 30px;
    text-shadow: 0 0 10px #f5d27a;
}

/* KEY INFO */
.key-info {
    width: 85%;
    margin: 40px auto;
    text-align: center;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info-box {
    width: 180px;
    height: 100px;
    background: rgba(155, 155, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(251, 236, 166, 0.579);
    border-radius: 18px;
    padding: 15px;
    transition: .3s;
    box-shadow: 0 0 8px rgba(251, 236, 166, 0.579);
}

.info-box h3 {
    font-size: 20px;
    text-shadow: 0 0 10px #f5d27a;
}

.info-box:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px #f5d27a;
    background: rgba(155, 155, 255, 0.25);
}

/* LANDMARKS */
.tourist-places {
    width: 90%;
    margin: auto;
    text-align: center;
}

.tourist-places h2 {
    font-size: 30px;
    text-shadow: 0 0 10px #f5d27a;
}

.places-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.place img {
    width: 330px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid rgba(251, 236, 166, 0.579);
    backdrop-filter: blur(10px);
    transition: .3s;
}

.place img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(243, 219, 114, 0.711);
}

.place-name {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    text-shadow: 1px 1px 8px #000;
}